{% extends "base.html" %}
{% block head_title %}PyVideo {% endblock %}
{% block jumbotron_text%}
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <h1>{{user.username}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
        </div>

        <form role="form" action="" id="video_form" method="">
          {% csrf_token %}
        <div class="row">
          <div class="col-md-1">
            <button type="submit" class="btn btn-danger disabled" id="video_delete_btn"><i class="glyphicon glyphicon-trash"></i>Delete</button>
          </div>
          <div class="col-md-8">
            
          </div>
          <div class="col-md-3 input-append">
              <input type="text" name="search_input" id="search_input" class="span2 search-query">
              <button type="submit" class="btn btn-info" id="video_search_btn"><i class="glyphicon glyphicon-search"></i>Search</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                      <label class="checkbox-inline"><input type="checkbox" value="" id="video_checkall">VideoName</label>
                  </th>       
                  <th>Size</th>
                  <th>MD5</th>
                  <th>State</th>
                  <th>CreateTime</th>
                </tr>
              </thead>
              <tbody>
                {% for video in videos %}
                <tr>
                  <td>
                      <label class="checkbox-inline"><input type="checkbox" name="video_check" value="{{video.id}}" id="video_check-{{forloop.counter}}">{{video.name}}</label>
                  </td>      
                  <td>{{video.size}}</td>
                  <td>{{video.md5}}</td>
                  <td>{{video.state}}</td>
                  <td>{{video.create_time}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        </form>
      </div>
{% endblock%}

{% block bottom_text%}
{% endblock%}